<h1>Edit Your Account</h1>
<form action="/user/<%= @user.slug %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <label>Username: </label>
    <input type="text" name="user[username]" value="<%= @user.username %>">

    <label>Email: </label>
    <input type="email" name="user[email]" value="<%= @user.email %>">

    <label>Organization: </label>
    <input type="text" name="user[organization]" value="<%= @user.organization %>">

    <label>Password(required): </label>
    <input type="password" name="user[password]" value="<%= @user.password %>">


    <input type="submit" value="Update Account">
</form>