<h3><%= @user.username %></h3>

Email: <%= @user.email %><br>

Organization: <%= @user.organization %><br>

Bats: 
    <ol>
        <% @user.bats.all.each do |bat| %>
            <li><a class="button" href="/bats/<%= bat.identification %>"> <%= bat.identification %></a></li>
        <% end %>
    </ol>

<% if logged_in? && current_user.id == @user.id %>
    <a class="btn btn-warning btn-sm active" href="/user/<%= @user.slug %>/edit">Edit Your Account</a><br><br>
    <a class="btn btn-danger btn-sm active" href="/user/<%= @user.slug %>/delete">Delete Your Account</a>
<% end %>