<h1>Edit Bat Details</h1>
<form action="/bats/<%= @bat.identification %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <label>Tag Or Wing Print Number (do not include spaces):</label>
    <input type="text" name="bat[identification]" value="<%= @bat.identification %>"><br>
    
    <label>Nickname: </label>
    <input type="text" name="bat[nickname]" value="<%= @bat.nickname %>"><br>

    <label>Species: </label>
    <input type="text" name="bat[species]" value="<%= @bat.species %>"><br>

    <label>Date Found(YYYY-MM-DD): </label>
    <input type="text" name="bat[date_found]" value="<%= @bat.date_found %>"><br>
    
    <label>Location: </label>
    <input type="text" name="bat[location]" value="<%= @bat.location %>"><br>

    <label>Date Last Seen(YYYY-MM-DD): </label>
    <input type="text" name="bat[date_last_seen]" value="<%= @bat.date_last_seen %>"><br>

    <label>Weight In Grams: </label>
    <input type="text" name="bat[weight]" value="<%= @bat.weight %>"><br>

    <label>Age In Years: </label>
    <input type="text" name="bat[age]" value="<%= @bat.age %>"><br>

    <label>Sex: </label>
    <input type="text" name="bat[sex]" value="<%= @bat.sex %>"><br>

    <label>Wing Span In CM: </label>
    <input type="text" name="bat[wing_span]" value="<%= @bat.wing_span %>"><br>

    <label>Colony Size: </label>
    <input type="text" name="bat[colony_size]" value="<%= @bat.colony_size %>"><br>

    <label>Conservation Status: </label>
    <input type="text" name="bat[conservation_status]" value="<%= @bat.conservation_status %>"><br>

    <label>Presence of White Nose Syndrome (true/false): </label>
    <input type="text" name="bat[white_nose_syndrome]" value="<%= @bat.white_nose_syndrome %>"><br>

    <label>Notes: </label>
    <textarea type="text" name="bat[notes]" value="<%= @bat.notes %>"></textarea><br>
    
    <input type="submit" class="btn btn-primary" value="Submit">
</form>