<h3><%= @bat.identification %></h3>
<b>Nickname:</b> <%= @bat.nickname %><br>
<b>Species:</b> <%= @bat.species %><br>
<b>Date Found:</b> <%= @bat.date_found %><br>
<b>Location:</b> <%= @bat.location %><br>
<b>Date Last Seen:</b> <%= @bat.date_last_seen %><br>
<b>Weight In Grams:</b> <%= @bat.weight %><br>
<b>Age In Years:</b> <%= @bat.age %><br>
<b>Sex:</b> <%= @bat.sex %><br>
<b>Wing Span In CM:</b> <%= @bat.wing_span %><br>
<b>Colony Size:</b> <%= @bat.colony_size %><br>
<b>Conservation Status:</b> <%= @bat.conservation_status %><br>
<b>Presence of White Nose Syndrom:</b> <%= @bat.white_nose_syndrome %><br>
<b>Updated at:</b> <%= @bat.updated_at %><br>
<b>Notes:</b> <%= @bat.notes %><br>

<% if logged_in? && current_user.id == @bat.user_id %>
    <br>
    <a class="btn btn-warning btn-sm active" href="/bats/<%= @bat.identification %>/edit">Edit Bat</a><br><br>

    <form action="/bats/<%= @bat.identification %>/delete" method="post">
        <input id ="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-sm" value="Delete Bat">
    </form>
<% end %>